[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
requests = "*"
ipykernel = "*"
sklearn = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
graphviz = "*"


[dev-packages]

